
<!-- Page Content-->
<div class="container-fluid p-0">
  <!-- Map-->
  <section class="map-section" id="map">
    <div class="map-section-content">
      <google-map width=100% height="{{innerHeight}}" [options]="options" [center]="center" [zoom]="zoom">
        <map-marker *ngFor="let marker of places"
                    [label]="marker.id.toString()"
                    [position]="marker.location"
                    [title]="marker.title"
                    [options]="marker.options"
                    (mapClick)="setCurrentPlace(marker.id); scroll()">
        </map-marker>
      </google-map>
      <div *ngFor="let marker of places">
      </div>
    </div>
  </section>
  <hr class="m-0" />
  <!--Opis-->
  <section class="resume-section" id="description">
    <div class="resume-section-content">
      <!--<h2 class="mb-5">Experience</h2>-->
      <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
          <h2 class="mb-0">{{currentPlace.title}}</h2>
          <!--<div class="subheading mb-3">Intelitec Solutions</div>-->
          <img class="border border-primary border-img" src="{{currentPlace.photoPath}}" width="100%" height="auto">
          <p>{{currentPlace.description}}</p>
          <a href="{{currentPlace.link}}">Dowiedz się więcej</a>
        </div>
      </div>
    </div>
  </section>
  <hr class="m-0" />
  <!-- About-->
  <section class="resume-section" id="about">
    <div class="resume-section-content">
      <h1 class="mb-0">Mateusz <span class="text-primary">Kusiak</span></h1>
      <!--<div class="subheading mb-5">3542 Berry Street · Cheyenne Wells, CO 80810 · (317) 585-8468 · <a href="mailto:name@email.com">name@email.com</a></div>-->
      <p class="lead mb-5">
        Jestem studentem Uniwersytetu Gdańskiego na kierunku Informatyka i Ekonometria.
        <br/>
        Ta aplikacja została stworzona na podtawie projektu autorstwa Clarence Taylor (licencja MIT).
        <br/>
        <a href="https://startbootstrap.com/themes/resume/">Przejdź do strony projektu</a>
      </p>
      <div class="social-icons">
        <a class="social-icon" href="https://github.com/dancesWithMachines"><i class="fab fa-github"></i></a><a class="social-icon" href="https://www.youtube.com/channel/UCX1pf5yazwZsVeHdvlmuQwQ"><i class="fab fa-youtube"></i></a><a class="social-icon" href="https://www.linkedin.com/in/mateusz-kusiak/"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </section>
  <hr class="m-0" />
</div>
